[Unit]
Description=Sickbeard

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop sickbeard
ExecStartPre=-/usr/bin/docker rm sickbeard
ExecStart=/usr/bin/docker run -v /etc/downloaders/sickbeard:/etc/downloaders/sickbeard -v /media:/media -p 8081:8081 --name=sickbeard sickbeard
ExecStop=/usr/bin/docker stop sickbeard

[Install]
WantedBy=multi-user.target

